*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: white;
    border: 1px solid gray;
    text-align: center;
    padding: 100px;
    width: 400px; 
    margin: 100px auto; 
    font-size: 50px;
    font-weight: bold;
    color: aqua;
    position: relative;
}
.container::before{
    background-color: crimson;
    content: "";
    padding: 130px;
    position: absolute;
    width: 138px;
    justify-content: center;
    bottom: 0;
    right: 0;
    transform: rotate(8deg);
    z-index: -1;
}
.container::after{
    background-color:rgb(0, 68, 255);
    content: "";
    padding: 130px;
    position: absolute;
    width: 138px;
    justify-content: center;
    bottom: 0;
    left: 0;
    transform: rotate(-8deg);
    z-index: -1;
}