*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aliceblue;
    margin: 5px;
    height: 400px;
    width: 100%
}
.top,
.bottom{
    display: flex;
    justify-content: center;
    
}
.div-1{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    width: 20%;
    margin: 15px;
}
.div-2{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    width: 20%;
    margin: 15px;
    margin-top: 200px;
}
